@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.box-title1{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin-top: 10px;
}
.box-title2{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 60px;
}
#boxs{
    text-align: center;
}
.box{
    width: 30%;
    background: black;
    font-size: 20px;
    color: white;
    padding: 80px;
    margin: auto;
    border-radius: 5px
}
@media all and (max-width:360px){
    .box-title2{
        margin-bottom: 0px;
    }
    .box{
        width: 48%;
        float: left;
        margin: 2px;
        padding: 20px 80px 20px 80px;
    }
}
@media all and (min-width:361px) and (max-width:413px) {
    .box-title2{
        margin-bottom: 0px;
    }
    .box{
        width: 58%;
        float: left;
        margin: 1px;
    }
}
@media all and (min-width:414px) and (max-width:539px) {
    .box-title2{
        margin-bottom: 0px;
    }
    .box{
        width: 70%;
        float: left;
        margin: 2px;
    }
}
@media all and (width:540px) {
    .box-title2{
        margin-bottom: 0px;
    }
    .box{
        width: 77%;
        float: left;
        margin: 2px;
    }
}
@media all and (min-width:541px) and (max-width:767px) {
    .box{
        width: 78%;
        float: left;
        margin: 2px;
    }
    .box-title2{
        margin-bottom: 0px;
    }
}
@media all and (min-width:768px) and (max-width:991px) {
    .box{
        width: 27.8%;
        float: left;
        margin: 5px;
    }
    .box-title2{
        margin-bottom: 0px;
    }
} 
@media all and (min-width: 992px) and (max-width:999px) {
    .box{
        width: 33%;
        float: left;
        margin: 4px;
    }
    .box-title2{
        margin-bottom: 0px;
    }
} 
@media all and (min-width: 999px) and (max-width:1025px) {
    .box{
        width: 26%;
        float: left;
        margin: 4px;
    }
    .box-title2{
        margin-bottom: 0px;
    }
} 
@media all and (min-width:1025px) and (max-width: 1199px) {
    .box{
        width: 30%;
        float: left;
        margin: 2px;
    }
    .box-title2{
        margin-bottom: 0px;
    }
}
@media all and (width:1200px) {
    .box{
        width: 14.6%;
        float: left;
        margin: 2px;
    }
}