*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    height: 100vh;
    grid-template-rows: 20vh 60vh 20vh;
}
div.container div{
    background-color: yellow;
    padding: 20px; 
}

div.nav{
    grid-row: 1 /span 3;
}
div.header{
    grid-column: 2/4;
}
div.article{
    grid-column: 2/3;
}
div.ads{
    grid-column: 3/4;
}
div.footer{
    grid-column: 2/4;
}
